node_modules
.next
.cache
.tmp
build
dist
.env
.env.local
.DS_Store
apps/cms/public/uploads/*
!apps/cms/public/uploads/.gitkeep
.env
.env.local
.env.production
node_modules/
.next/
*.log
*db-backup*.sql
